body {
	  margin: 0;
	  font-family: 'Segoe UI', sans-serif;
	  background-color: #f9f9f9;
	}
	a {
	  color: #333;
	  text-decoration: none;
	}

	a:hover {
	  text-decoration: underline;
	}

	/*Maida's nav */
	.navbar {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 15px 40px;
	  background-color: #fff;
	  border-bottom: 1px solid #eee;
	  font-size: 14px;
	}

	.nav-left {
	  display: flex;
	  align-items: center;
	  gap: 20px;
	}

	.sidebar-icon {
	  display: flex;
	  flex-direction: column;
	  gap: 5px;
	  cursor: pointer;
	}

	.sidebar-icon .bar {
	  width: 25px;
	  height: 3px;
	  background-color: #333;
	}

	.brand-logo {
	  display: flex;
	  align-items: center;
	  gap: 10px;
	  font-size: 18px;
	  font-weight: bold;
	  color: #222;
	}

	.brand-logo img {
	  width: 40px;
	  height: auto;
	}

	.nav-right {
	  display: flex;
	  align-items: center;
	  gap: 20px;
	}

	.flag-icon {
	  width: 20px;
	  height: auto;
	}

	.search-form {
	  display: flex;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  overflow: hidden;
	}

	.search-form input {
	  padding: 8px 12px;
	  border: none;
	  outline: none;
	  font-size: 14px;
	}

	.search-form button {
	  background-color: #222;
	  color: #fff;
	  border: none;
	  padding: 8px 12px;
	  cursor: pointer;
	}

	

    /*Table*/
    h2 {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }

  form {
        background: #fff;
        padding: 25px 30px;
        width: 350px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    form label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        color: #333;
    }

    form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 18px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
        transition: 0.2s;
    }

    form input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0,123,255,0.4);
        outline: none;
    }

    form button {
        width: 100%;
        background: #007bff;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s;
    }

    form button:hover {
        background: #0056b3;
    }

  /* ---------------------------
   Footer
---------------------------- */

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #fff;
  margin-top: 40px;
  font-size: 0.95rem;
}

/* ---------------------------
   Responsive Design
---------------------------- */

@media (max-width: 768px) {
  section div {
    width: 45%;
  }
}

@media (max-width: 480px) {
  section div {
    width: 90%;
  }
}