*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 10;
   
}

.carousel {
    width: 50vw;
    height: 50vh;
    position: relative;
    padding-top: 5vw;
    margin-top: 5vw;
}

/*active slide will be visible while none
active slides will be hidden. */
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    object-fit: cover;
    max-width: 30vw;
    max-height: 30vw;
    margin-left: auto;
    margin-right: auto;
}


.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: rgba(1, 1, 1, 0.163);
}

.carousel-button:hover {
    color: rgb(246, 255, 144);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-title {
    display: flex;
    padding-top: 3rem;
    font-size: 2.5vw;
}

#short-description {
    font-size: 1.2vw;
    max-width: 30%;
}

#product-details {
    gap: 3rem;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    max-height: 50%;
    vertical-align: top;
}

.checkout {
    padding-top: 1rem;
}

#materials, #returns {
    cursor: pointer;
}

#extra-details {
    padding-top: 5rem;
    padding-left: 1rem;
    max-width: 40vw;
}