*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 10;
   
}

.carousel {
    width: 50vw;
    height: 50vh;
    position: relative;
    padding-top: 5vw;
    margin-top: 5vw;
}

/*active slide will be visible while none
active slides will be hidden. */
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    margin-left: 5vw;
    margin-right: auto;
}

#descriptionAndButtons {
    width: 40rem;
}
.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: rgba(1, 1, 1, 0.163);
}

.carousel-button:hover {
    color: rgb(246, 255, 144);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    margin-left: 2.5vw;
}

.carousel-button.next {
    margin-left: 35vw;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-title {
    display: flex;
    padding-top: 2rem;
    font-size: 2.5vw;
}

#short-description {
    font-size: 1.2vw;
   
}

#product-details {
    gap: 10rem;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    
    vertical-align: top;
}

.checkout {
    padding-top: 1rem;
}

#materials, #returns {
    cursor: pointer;
}

#extra-details {
    padding-top: 5rem;
    padding-left: 1rem;
    max-width: 40vw;
}

#recommendedProducts {
    display: flex;
    flex-wrap: nowrap;
}
#recommendedProductsImages {
    display: inline;
}
.recommendedProduct {
    width: 10vw;
    height: 10vw;
}
.recommendedProduct:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    transform: scale(1.1);
}
#price {
    margin-top: 0%;
    font-size: 1.5vw;
}

.sizes, #quantity {
    background-color: white;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-top: 1.5%;
    margin-bottom: 2%;
    border-radius: 1rem;
}

#basketButton {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 1rem;
    background-color: aquamarine;
    border-color: aquamarine;
}

#basketButton:hover {
    background-color: rgb(111, 216, 181);
}
#buyButton {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 1rem;
    background-color: white;
    border-color: aquamarine;
}

#buyButton:hover {
    background-color: rgb(228, 228, 228);;
}

input, select {
    cursor: pointer;
}

#images{
padding-top: 0%;
    flex-wrap: wrap;
    display: flex;
    margin-left: auto;
}
#card-image {
    width: 20vw;
    height: 20vw;
    margin-left: 5vw;
}

#smalltext {
    margin-left: 5vw;
}

#card-image:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

#list-title {
    text-align: center;
}